.node-type-value-area-of-interest {

  .view-value-area-related-maps {
      .view-filters {
        background: $link-colour;
        padding: 1.768em 0;
      }

      .views-row {
        overflow: hidden;
      }

      .views-column {
         border: 1px solid $gray-light;
         @include border-radius(5px 5px 0 0);
         overflow: hidden;
         margin-top: 3.571em;

        @include breakpoint($tab, true) {
          width: 30.83%;
          float: left;
          position: relative;
          margin: 3.571em 1.875% 0;
          padding-bottom: 4em;
          height: 100%;

          &.views-column-first {
            margin-left: 0;
            margin-right: 1.875%;
          }

          &.views-column-last {
            margin-right: 0;
            margin-left: 1.875%;
          }
        }

        .views-field {
          //border-right: 1px solid $gray-light;
        }

        .views-field-field-preview-image {
          background: $heading-background;

          img {
            width: auto;
            max-height: 140px;
            display: block;
            margin: 0 auto;
          }
        }

        .views-field-title {
          padding: 1.143em;
          font-weight: 700;
        }

        @include breakpoint($tab, true) {
          .map-item-links {
            //position: absolute;
            //bottom: 0;
          }
        }

        .views-field-field-map-description {
          padding: 0 1.143em 1.143em;

          @include breakpoint($tab, true) {
            //min-height: 200px;
          }
        }

        .views-field-nothing {
          @include breakpoint($tab, true) {
            position: absolute;
            bottom: 0;
            left: auto;
            width: 100%;
          }
        }

        .views-field-field-layers,
        .views-field-created,
        .views-field-view-node {
          text-align: center;
          float: left;
          //margin-right: 1px;
          width: 33.33%;

          @include breakpoint($tab, true) {

          }
        }

        .views-field-field-layers,
        .views-field-created {
          background: $gray-light;
          padding: 0.5em 1em;
        }

        .views-field-field-layers {
          width: 23.33%;

          .fa {
            margin-right: 10px;
          }
        }

        .views-field-created {
          //width: 40%;
          border-left: 1px solid $white;
          border-right: 1px solid $white;
          width: 43.33%;
        }

        .views-field-view-node {
          //width: 33%;
          //margin-right: 0;

          a {
            display: block;
            background: $link-colour;
            text-transform: uppercase;
            padding: 0.5em;
            color: $white;
          }
        }
      } // end .views-column
    }
  }