/**
 * $BREADCRUMB
 */

.breadcrumb-row {
  background: $gray-light;
  padding: 0.5em 0;
  font-size: 0.857em;
  color: darken($gray-light, 37%);
  font-weight: 500;
}

.breadcrumb {
  @include horizontal-list(false);

  li {

    &:after {
      content: "›";
      padding: 0 1em;
      vertical-align: baseline;
    }
    &:last-child:after {
      content: "";
    }
  }

  a {
    text-decoration: none;
    color: darken($gray-light, 37%);
  }
}
