div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}

.page-documents .l-content {
    width: 100%;
    max-width: none;
    padding: 0
}

.page-documents .openlayers-views-map {
 max-width: 70%;
 margin: 0 auto;
}

.page-documents .view-filters {
 background: #22c8d4;
 padding: 1.768em 0;
}
.page-documents .view-content{
 margin: 20px auto;
 max-width: 960px;
}

.page-documents .attachment-before .view-content{
 margin: 20px auto;
 max-width: none;
}

.page-documents .views-exposed-form {
 width: 90%;
 max-width: 960px;
 margin: 20px auto;

  #edit-combine-wrapper {
    width: 100%;
  }

  #edit-keys-wrapper {
    width: 50%;
  }

  .views-widget-filter-secondary {
    padding-top: 1em;
    display: block;
    width: 100%;

    .form-item-field-keywords-value, .form-item-field-sdg-goal-value,
    .form-item-field-agency-name-value, .form-item-field-location-tid {
      width: 47%;
      float: left;
      margin-right: 5px;
    }

  }

  .views-exposed-widgets {
    input[type="text"] {
      padding: 1em 1.25em;
      border: 1px solid $white;
      background: $white;
      width: 80%;
    }
  }
  .views-submit-button {

    @include breakpoint($tab) {
      width: 21.45%;
      padding-right: 0;
      margin-top: 1.6em;
    }

    .form-submit {
      width: 100%;
      margin-top: 10px;

      @include breakpoint($tab) {
        margin-top: 0.5em;
      }
    }
  }
}

.page-documents td {
background: #ebebeb;
padding: 0.5em 1em;
border: 1px solid white;
}



@include breakpoint($tab, true) {
  .page-documents .openlayers-views-map {
   max-width: 90%;
   margin: 0 auto;
  }
}


dl.horizontal {
    margin: 0;

    dt {
        float: left;
        width: 6rem;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
    dd {
        margin-left: 7rem;
        font-weight: 100;
        max-width: 32rem;

        p {
            margin: 0;
        }
    }
}

.view-documents {
    h2 {
        margin-bottom: 0.25rem;
    }
}

table {
    td {
        ul, ol {
            padding-left: 0.5em;
        }
        a {
            color: $link-colour-darker;
        }
    }
    th {
        white-space: nowrap;
    }
    &.token-hints.meta {
        background: #fff5f9;

        tr {
            td, th {
                padding: 0.5rem 2rem;
            }
            td {
                border-top: 1px solid black;

                a {
                    color: $link-colour-darker;
                }
            }
            th {
                background-color: #ffd8e8
            }
        }
        tr:last-child {
            td {
                border-bottom: 1px solid black;
            }
        }
    }
}
.node__content {
    .field {
        margin-top: 1rem;
    }
}
