.l-header {
  //padding: 1em 0;
  color: $heading-colour;
  @include breakpoint($tab) {
    //padding-top: 2em;
  }

  .site-logo {
     @include breakpoint($tab) {
        margin-right: 1em;
      }
  }

  img {
    max-height: 60px;
    display: block;
  }

  a, a.active {
    text-decoration: none;
  }


  .messages {
    margin:0;
  }

  .title-bar {

    &.has-tabs {
      padding-right: 50px;
    }

    .title {
      color: $white;
      line-height: normal;
    }

    a {
      float: right;
      font-size: 0.65em;
      line-height: 1;
      margin: 0.5em 0 0 0.5em;
    }

    .tabs {
      position: absolute;
      top:0;
      right:0;
      margin:0;
      border:none;
      height:100%;

      li {
        height: 100%;
        margin:0;
        a {
          height: 100%;
          background:none;
          color: $heading-colour;
          font-size:1.8em;
          font-weight: bold;
          padding: 0.67em 0;
          padding-right: $right-gutter;
        }
      }
    }
  }

  h1 {
   //margin:0;
   //padding:0.67em 0;
    @include breakpoint($tab) {
      margin: 0;
    }

    &.site-name {
      //background-color: $top-background;
    }
  }

}

.branding {
  padding-top: 25px;
  padding-bottom: 1.5em;

  a {
    color: $white;
  }
}

.site-logo, .site-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.site-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em;
}

.site-slogan {
  font-weight: 100;
  font-size: 1em;
  color: $white;
}

header.l-header > .container {
    position: relative;

    .logo, .site-particulars, .branding {
        display: inline-block;
        vertical-align: top;
    }

    .site-particulars {
        width: 220px;
    }
}
