.front {
	.l-main {
		background: url(../images/home_bg.png) no-repeat center bottom $content-background;
		background-size: 100% auto;
	}
}

.mpub-home {
    padding-top: 1em; //3.571em ;
}

.banner-image {
	position: relative;
	@include border-radius(5px);
	overflow: hidden;
	margin-bottom: 2.143em;

	& > img {
		display: block;
		width: 100%;
	}
}

.banner-content {
	color: $white;
	padding: 1.25em 2em;
	background-color: $heading-background;
	@include breakpoint($tab, true) {
		position: absolute;
		top: 0;
		right: 20px;
		background: rgba(0,0,0,0.4);
		width: 300px;
		padding-top: 2em;
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.35;
		font-weight: 500;
		margin: 0;
	}


	.field--name-field-link {
		@include breakpoint($tab, true) {
			bottom: 0;
		}

		a {
			background: $link-colour;
			color: $white;
			text-transform: uppercase;
			padding: 1em 3em 1em 2em;
			position: relative;
			@include breakpoint($tab, true) {
				display: block;
			}

			&:before {
				@extend %fa;
				content: '\f054';
				position: absolute;
			    right: 1.5em;
			    top: 50%;
			    margin-top: -5px;
			    font-size: 0.857em;
			}
		}
	}
}

.mpub-home-region--featured-content {
	overflow: hidden;
	margin-bottom: 2.143em;
}

.panel-pane .featured-link {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin: 0 2% 2% 0;
	float: left;

	@include breakpoint($tab, true) {
	    margin-bottom: 0;
            height: 12em;
	}
}

.featured-link {
	position: relative;

	& > img {
		display: block;
		width: 100%;
	}

	.field--name-field-link {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	a {
		display: block;
		/* width: 100%; */
		background: $link-colour;
		color: $white;
		padding: 0.5em 1em;
		font-weight: 700;
		line-height: 1;
	}
}

.mpub-home-region--maps-overview,
.mpub-home-region--projects-overview  {
	overflow: hidden;

	.panel-pane {
		@include breakpoint($tab) {
			width: 31.33%;
			float: left;
			//padding-right: 1.429em;
			margin-right: 2.5%;
		}

		&:last-child {
			//padding-right: 0;
			margin-right: 0;
			float: right;
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		border-bottom: 2px solid darken($content-background, 0.75%);
		margin-bottom: 5px;
		padding-bottom: 5px;

		&:last-child {
			border-bottom: 0;
		}
	}
}


.l-footer .panel-3col-33 {

	.panel-col-first, .panel-col, .panel-col-last {
		width: auto;
		float: none;

		.inside {
			margin-left: 0;
		}
	}

  @include breakpoint($tab) {
		.panel-col-first, .panel-col, .panel-col-last {
			width: 33.33%;
			float: left;

			.inside {
				margin-left: 1em;
			}
		}
  }

}
