.page-maps {

  .l-content {
    width: 100%;
    max-width: none;
    padding: 0;

    .view-content,
    .views-exposed-form {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  .view-maps-overview {
    .view-filters {
      background: $link-colour;
      padding: 1.768em;
    }

    .views-row {
      overflow: hidden;
    }

    .views-column {
       border: 1px solid $gray-light;
       @include border-radius(5px 5px 0 0);
       overflow: hidden;
       margin-top: 3.571em;

      @include breakpoint($tab, true) {
        width: 30%;
        float: left;
        position: relative;
        margin: 3.571em 1.875% 0;
        padding-bottom: 4em;
        height: 100%;

        &.views-column-first {
          margin-left: 0;
          margin-right: 1.875%;
        }

        &.views-column-last {
          margin-right: 0;
          margin-left: 1.875%;
        }
      }

      .views-field {
        //border-right: 1px solid $gray-light;
      }

      .views-field-field-preview-image {
        background: $heading-background;

        img {
          width: auto;
          max-height: 140px;
          display: block;
          margin: 0 auto;
        }
      }

      .views-field-title {
        padding: 1.143em;
        font-weight: 700;
      }

      .map-item-links {
          display: block;
          position: relative;
          height: 2.5em;

          & > div {
              border: 1px solid white;
              height: 2.5em;
              overflow: hidden;
              white-space: nowrap;
          }

          .views-field-field-layers {
              position: absolute;
              left: 0;
              width: 25%;
          }
          .views-field-created {
              position: absolute;
              left: 25%;
              right: 30%;
          }
          .views-field-view-node {
              width: 30%;
              position: absolute;
              right: 0;
          }
      }

      .views-field-field-map-description {
        padding: 0 1.143em 1.143em;

        @include breakpoint($tab, true) {
          //min-height: 200px;
        }
      }

      .views-field-nothing {
        @include breakpoint($tab, true) {
          position: absolute;
          bottom: 0;
          left: auto;
          width: 100%;
        }
      }

      .views-field-field-layers,
      .views-field-created,
      .views-field-view-node {
        text-align: center;
        float: left;
        //margin-right: 1px;
        //width: 33.33%;

        @include breakpoint($tab, true) {

        }
      }

      .views-field-field-layers,
      .views-field-created {
        background: $gray-light;
        padding: 0.5em 0;
      }

      .views-field-field-layers {
        //width: 13.33%;

        .fa {
          margin-right: 10px;
        }
      }

      .views-field-created {
        //width: 40%;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        //width: 43.33%;
      }

      .views-field-view-node {
        //width: 33%;
        //margin-right: 0;

        a {
          display: block;
          background: $link-colour;
          text-transform: uppercase;
          padding: 0.5em;
          color: $white;
        }
      }
    } // end .views-column

  } // end .view-maps-overview
} // end .page-maps

.views-exposed-form {
  label {
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 10px;
  }

  .views-exposed-widget {
    padding: 0 1em 0 0;
    float: none;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    margin-right: 1em;
  }

  .views-submit-button {

    @include breakpoint($tab) {
      width: 21.45%;
      padding-right: 0;
      margin-top: 1.6em;
    }

    .form-submit {
      width: 100%;
      margin-top: 10px;

      @include breakpoint($tab) {
        margin-top: 1.6em;
      }
    }
  }
}

.view-maps-overview {
  .form-submit {
      background: url(../images/icon-search.png) no-repeat 1.2em center $heading-background;
      padding-left: 50px;
  }
}

/* Map layout containers ---------------------------------------------------- */


.map-layout {

  .layers-container {
    margin-bottom:1em;
  }

  .expcol-link {
    display: inline-block;

    .collapse {
      display: inherit;
    }
    .expand {
      display: none;
    }

    &.collapsed {
      .collapse {
        display: none;
      }
      .expand {
        display: inherit;
      }
    }
  }

  .form-type-checkbox,
  .layers-container {


    i {
      font-size: 30px;
      width: 1.05em;
      @include breakpoint($tab, true) {
        font-size: $base-font-size;
      }
    }
  }

  .form-type-checkbox {

    display: block;

    input { display: none  } /* to hide the checkbox itself */

    label {
      .checked { display:none }
      .unchecked { display:inline-block }
    }

    input:checked ~ label {
      .checked { display:inline-block }
      .unchecked { display:none }
    }

  }
}


.node-type-map-page {
    .breadcrumb,
    .site-name,
    .site-logo,
    .messages {
      //display: none;
    }
}

.map-layout {
  tr .form-item {
    white-space: normal;
  }
}


.map-layout * {
  box-sizing: border-box;
}

.map-layout {
  width: 100%;
  display: table;
  overflow-y: hidden;
}

.map-container {
  width: 100%;
  position: relative;
  background-color: $heading-background;
}

.map-sidebar {
  position: relative;
  z-index: 100;
  vertical-align: top;

  .mpub-print-link a {
    display: none;
  }

  .map-sidebar-heading {
    //color: $white;
    //background-color: $heading-background;
    margin:0;
    //padding: 1em;
    //padding-left: $left-gutter;
    text-transform: uppercase;
    font-weight: 600;

    .layer-title {
      //color: $white;
    }
  }

  h2.title {
    color: $white;
    margin:0;
    padding: 1em;
    //padding-left: $left-gutter;
  }
  .map-sidebar-content {
    //background-color:$text-background;
    overflow-y: auto;
    padding-top: 1.5em;
    width: 288px;

    .map-layers, .map-metadata {
      //padding:1em;
      //width: 288px;
    }
  }

  &.map-info-sidebar {
    .map-metadata {
      padding-top:0;
    }
  }
}

//initial - mobile hidden
.collapsed-left .map-layers-sidebar,
.map-layers-sidebar {
  display: none;
}

//explicit open rules
.open-left {
  .map-layers-sidebar {
    display:inherit;
  }
}

//default tab+ initial rules
@include breakpoint($tab, true) {
  .map-layers-sidebar {
    display:inherit;
  }
}


td.toggle-right  {
  display: none;
  @include breakpoint($tab, true) {
    display: table-cell;
  }
}

.open-right {
  .map-info-sidebar {

    .fa-close {
      color: $black;
    }

    a.layer-info-modal-close {
      float: left;
      color: #FFF;
      font-size: 2.5em;
      padding: 0.3em;
    }

    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:$white;
    padding:5%;

    .map-sidebar-content {
      width:100%;
      height:100%;
    }

    @include breakpoint($tab) {
      a.layer-info-modal-close {
        display: none;
      }
      position: relative;
      top:inherit;
      left:inherit;
      width: inherit;
      height: inherit;
      background-image: none;
      padding:0;

      .map-sidebar-content {
        width:288px;
      }
    }

  }
}

.collapsed-right .map-info-sidebar {
  display: none;
}

.map-sidebar .layers-container,
.map-sidebar .group {
  //margin-left: 1em;
}

.map-sidebar .group {
  margin-bottom: 1.5em;
}

.map-sidebar .group label {
  cursor: pointer;
}

.map-print-version {
  position: absolute;
  font-size: 0.75em;
  top: -20px;
  right: 10px;
}

.map-loading-indicator {
  display: none;
  overflow: hidden;
  &.loading {
    display: block;
    background-image: url('../images/trans.png');
    width: 100%;
    color: $heading-colour;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
}

.open-left {
  .map-loading-indicator {
    &.loading {
      display: none;
      @include breakpoint($tab) {
        display: block;
      }
    }
  }
}



/* Map toggle controls ------------------------------------------------------ */

.map-layout .toggle {
  font-size: 2em;
  padding:4px;
  background: $heading-background;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  z-index: 100;
  color: #fff;
}


.layers-container,
.expcol-wrapper,
.expcol-wrapper .layers-container {
  display:none;
}

.expcol-link {
  font-family: monospace;
  font-weight: bolder;
}

.map-sidebar {
  .group {
    margin-left: $left-gutter;
  }
  .expcol-depth-0.group {
    display: block;
    margin-left: 0;
  }
}

.map-description {
  margin-bottom: 20px;
  display: block;
}
