.responsive-menus {

	@include breakpoint($tab) {
		text-align: right;
		float: right;
	}

        .nice-menu-main-menu {
            position: absolute;
            right: 0;
            bottom: 0;
        }

	.nice-menu {
		text-transform: uppercase;
		float: none;
		border: 0;

		li {
			background: transparent;
			border: 0;
			float: none;
			display: inline-block;
			vertical-align: top;
		}

                li + li {
			padding-left: 0.5em;
                }

		a {
			color: $menu-link-colour;
			line-height: 1;

			@include breakpoint($tab) {
                            padding-bottom: 37px;
			}

			&:hover,
			&.active {
				color: $white;
			}
		}

		.active {
			position: relative;

			&:before {
				@include breakpoint($tab) {
					display: block;
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -15px;
					width: 0; 
					height: 0; 
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 16px solid $gray-light;
				}
			}
		}
	}
}

.front {
	//.responsive-menus {
		.nice-menu {
			.active {
				&:before {
					border-bottom-color: $content-background;
				}
			}
		}
	//}
}

a, a.active, a:active {
  //color: $text-colour;
}

ul.tabs li a {
  //color: $text-colour;
}

.l-subheader {
  //background-color: $menu-background;
}

.responsive-menus.responsified,
.responsive-menus.responsified.responsive-toggled {
	span.toggler,
	.responsive-menus-simple {
		 background-color: $menu-background;
		 @include border-radius(0);
		 @include box-shadow(none);
	}
}

.responsive-menus.responsified.responsive-toggled {
	.responsive-menus-simple li a,
	span.toggler {
		border-color: #252525;
	}

	.responsive-menus-simple li a {
		&:hover {
			background-color: #626262;
		}
	}
}


.responsive-menus.responsified {
	span.toggler {
		padding: 0.5em 0;
	}
}

