.page-projects .l-content {
 width: 100%;
 max-width: none;
 padding: 0;
}

.page-projects .openlayers-views-map {
 max-width: 70%;
 margin: 0 auto;
}

.page-projects .view-filters {
 background: #22c8d4;
 padding: 1.768em 0;

 a {
     color: black;
 }
}
.page-projects .view-content{
 margin: 20px auto;
 max-width: 960px;
}

.page-projects .attachment-before .view-content{
 margin: 20px auto;
 max-width: none;
}

.page-projects .views-exposed-form {
 width: 90%;
 max-width: 960px;
 margin: 20px auto;
 fieldset {
     border-color: black;
 }

  /* #edit-combine-wrapper { */
  /*   width: 100%; */
  /* } */
   #edit-keys-wrapper {
       width: 50%;
   }
  .views-widget-filter-secondary {
    padding-top: 1em;
    display: block;
    width: 100%;

    .form-item-field-keywords-value, .form-item-field-sdg-goal-value,
    .form-item-field-agency-name-value, .form-item-field-location-tid {
      float: left;
      margin-right: 5px;
      padding-right: 1rem;
      width: 40%;
      overflow: hidden;
    }

  }

  .views-submit-button {

    @include breakpoint($tab) {
      width: 21.45%;
      padding-right: 0;
      margin-top: 1.6em;
    }

    .form-submit {
      width: 100%;
      margin-top: 10px;

      @include breakpoint($tab) {
        margin-top: 0.5em;
      }
    }
  }
}

.page-projects td {
background: #ebebeb;
padding: 0.5em 1em;
border: 1px solid white;
}



@include breakpoint($tab, true) {
  .page-projects .openlayers-views-map {
   max-width: 90%;
   margin: 0 auto;
  }
}

.views-table {
    th {
        padding: 0.5em 1em;
        border: 1px solid white;
    }
}

.node-type-project {
    .field-collection-view .field-label {
        width: auto
    }
    .field--name-field-existing-documents-links,
    .field--name-field-project-budget {
        .field-collection-view {
            margin: 0;
        }
    }
    h3 {
        font-weight: 900;
        margin-top: 0.6em;
        margin-bottom: 0.5em;
        font-size: $base-font-size * 1.3;
    }
    h4 {
        font-weight: 600;
        margin-top: 0.66em;
        margin-bottom: 0.25em;
    }
    .field__label {
        font-weight: 300;
    }
}
