.large-only { display: none; }

.small-only {
  display: table;
  th {
    font-weight: normal;
    background-color: #f5f5f5;
    padding: 10px 5px;
  }
}

@include breakpoint($tab) {
  .large-only { display: table; }
  .stacktable.small-only {
    display: none;
  }
}
