.ui-widget-content,
.ui-widget-header {
	border: 0;
	background: $white;
}

.ui-widget-content {
	padding: 0 1px;
	@include border-radius(0);

	a {
		color: $link-colour;
	}
}

#tabs {
	background: $gray-light;
	padding: 5px;
	a {
		margin-right: 5px;
	}
}

.ui-tabs {
        .ui-tabs-nav {
	        padding: 0;

                &.ui-widget-header {
                    background: #f8f8f8;
                }

		li {
			border: 0;
			margin: 0;
			width: 33.33%;
			background: $content-background;
			@include border-radius(0);
			font-weight: 500;
			text-align: center;
			@include breakpoint($tab, true) {
				font-size: 1.286em;
				text-align: left;
			}

			a {
				display: block;
				float: none;
				padding: 1em;
				color: $link-colour;
				@include breakpoint($tab, true) {
					padding-right: 1.556em;
					padding-left: 4em;
				}
			}

			.fa {
				font-size: 1.65em;
				margin-top: 10px;
				@include breakpoint($tab, true) {
					position: absolute;
					left: 1em;
					top: 50%;
					margin-top: -15px;
				}
			}

			&.ui-tabs-selected {
				background: $white;

				a {
					color: lighten($black, 25%);
				}

				.fa {
					color: darken($gray-light, 8%);
				}
			}
		}
	}

	.ui-tabs-panel {
		padding: 2em;
	}
}
