/*******************************************************************************
 * resp-2col.layout.scss
 *
 * Styling of the "resp-2col" layout demonstrating the resp-2col rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
/* line 19, ../../../sass/layouts/resp-2col/resp-2col.layout.scss */
.panel-display--resp-2col {
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .panel-display--resp-2col:after {
    content: "";
    display: table;
    clear: both; }

/* line 23, ../../../sass/layouts/resp-2col/resp-2col.layout.scss */
.resp-2col-region {
  margin-bottom: 18px; }

@media (min-width: 768px) {
  /* line 28, ../../../sass/layouts/resp-2col/resp-2col.layout.scss */
  .resp-2col-region--first {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 31, ../../../sass/layouts/resp-2col/resp-2col.layout.scss */
  .resp-2col-region--second {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none; } }

/*# sourceMappingURL=resp-2col.layout.css.map */
