@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);
/* line 1, ../sass/abstractions/_abstract.scss */
.item-list a:before,
.l-footer .menu a:before, .banner-content .field--name-field-link a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* line 1, ../sass/base/_backdrop.scss */
html, body {
  background-color: #FEFEFE; }

/* line 5, ../sass/base/_backdrop.scss */
.l-header {
  background-color: #333; }

/* line 1, ../sass/base/_forms.scss */
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 1em 2.25em 1em 1.25em;
  border: 1px solid #fff;
  background: #fff;
  width: 100%; }

/* line 10, ../sass/base/_forms.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/* line 17, ../sass/base/_forms.scss */
.form-type-select {
  position: relative; }
  /* line 20, ../sass/base/_forms.scss */
  .form-type-select:after {
    position: absolute;
    top: 50%;
    right: 1.666em;
    width: 1em;
    height: 1em;
    content: "\f078";
    display: inline-block;
    font-family: FontAwesome; }

/* line 32, ../sass/base/_forms.scss */
input[type="submit"] {
  background: #2c2c2c;
  padding: 1em 1.25em;
  border: 1px solid #2c2c2c;
  text-transform: uppercase;
  color: #9b9b9b; }

/* line 40, ../sass/base/_forms.scss */
auto.container-inline-date .form-item, .container-inline-date .form-item {
  width: 120px; }

/* line 13, ../sass/base/_lists.scss */
.item-list a,
.l-footer .menu a {
  display: block;
  position: relative;
  margin-right: 1em;
  padding-right: 1em; }
  /* line 19, ../sass/base/_lists.scss */
  .item-list a:before,
  .l-footer .menu a:before {
    content: '\f054';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
    font-size: 0.714em; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/**
 * $FONT-FACE
 */
/**
 * $BASE-TYPOGRAPHY
 */
/* line 12, ../sass/base/_typography.scss */
body, .ui-widget-content {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px; }

/* line 19, ../sass/base/_typography.scss */
a {
  color: #22c8d4;
  text-decoration: none; }

/* line 25, ../sass/base/_typography.scss */
#tabs a {
  color: #009eaa; }

/* line 30, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2; }

/* line 37, ../sass/base/_typography.scss */
.ui-widget-content .pane-title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700; }

/* line 4, ../sass/components/_area_relaed_maps.scss */
.node-type-value-area-of-interest .view-value-area-related-maps .view-filters {
  background: #22c8d4;
  padding: 1.768em 0; }
/* line 9, ../sass/components/_area_relaed_maps.scss */
.node-type-value-area-of-interest .view-value-area-related-maps .views-row {
  overflow: hidden; }
/* line 13, ../sass/components/_area_relaed_maps.scss */
.node-type-value-area-of-interest .view-value-area-related-maps .views-column {
  border: 1px solid #ebebeb;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-top: 3.571em;
  width: 30.83%;
  float: left;
  position: relative;
  margin: 3.571em 1.875% 0;
  padding-bottom: 4em;
  height: 100%; }
  /* line 27, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column.views-column-first {
    margin-left: 0;
    margin-right: 1.875%; }
  /* line 32, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column.views-column-last {
    margin-right: 0;
    margin-left: 1.875%; }
  /* line 42, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-preview-image {
    background: #2c2c2c; }
    /* line 45, ../sass/components/_area_relaed_maps.scss */
    .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-preview-image img {
      width: auto;
      max-height: 140px;
      display: block;
      margin: 0 auto; }
  /* line 53, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-title {
    padding: 1.143em;
    font-weight: 700; }
  /* line 65, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-map-description {
    padding: 0 1.143em 1.143em; }
  /* line 73, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-nothing {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%; }
  /* line 82, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-layers,
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-created,
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-view-node {
    text-align: center;
    float: left;
    width: 33.33%; }
  /* line 95, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-layers,
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-created {
    background: #ebebeb;
    padding: 0.5em 1em; }
  /* line 101, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-layers {
    width: 23.33%; }
    /* line 104, ../sass/components/_area_relaed_maps.scss */
    .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-field-layers .fa {
      margin-right: 10px; }
  /* line 109, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-created {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 43.33%; }
  /* line 120, ../sass/components/_area_relaed_maps.scss */
  .node-type-value-area-of-interest .view-value-area-related-maps .views-column .views-field-view-node a {
    display: block;
    background: #22c8d4;
    text-transform: uppercase;
    padding: 0.5em;
    color: #fff; }

/**
 * $BREADCRUMB
 */
/* line 5, ../sass/components/_breadcrumb.scss */
.breadcrumb-row {
  background: #ebebeb;
  padding: 0.5em 0;
  font-size: 0.857em;
  color: #8d8d8d;
  font-weight: 500; }

/* line 13, ../sass/components/_breadcrumb.scss */
.breadcrumb {
  margin: 0;
  padding: 0;
  border: 0; }
  /* line 13, ../../../../../../../../../../../var/lib/gems/2.3.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
  .breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  /* line 62, ../../../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }
  /* line 18, ../sass/components/_breadcrumb.scss */
  .breadcrumb li:after {
    content: "›";
    padding: 0 1em;
    vertical-align: baseline; }
  /* line 23, ../sass/components/_breadcrumb.scss */
  .breadcrumb li:last-child:after {
    content: ""; }
  /* line 28, ../sass/components/_breadcrumb.scss */
  .breadcrumb a {
    text-decoration: none;
    color: #8d8d8d; }

/* line 1, ../sass/components/_documents_view_page.scss */
div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666; }

/* line 8, ../sass/components/_documents_view_page.scss */
.page-documents .l-content {
  width: 100%;
  max-width: none;
  padding: 0; }

/* line 14, ../sass/components/_documents_view_page.scss */
.page-documents .openlayers-views-map {
  max-width: 70%;
  margin: 0 auto; }

/* line 19, ../sass/components/_documents_view_page.scss */
.page-documents .view-filters {
  background: #22c8d4;
  padding: 1.768em 0; }

/* line 23, ../sass/components/_documents_view_page.scss */
.page-documents .view-content {
  margin: 20px auto;
  max-width: 960px; }

/* line 28, ../sass/components/_documents_view_page.scss */
.page-documents .attachment-before .view-content {
  margin: 20px auto;
  max-width: none; }

/* line 33, ../sass/components/_documents_view_page.scss */
.page-documents .views-exposed-form {
  width: 90%;
  max-width: 960px;
  margin: 20px auto; }
  /* line 38, ../sass/components/_documents_view_page.scss */
  .page-documents .views-exposed-form #edit-combine-wrapper {
    width: 100%; }
  /* line 42, ../sass/components/_documents_view_page.scss */
  .page-documents .views-exposed-form #edit-keys-wrapper {
    width: 50%; }
  /* line 46, ../sass/components/_documents_view_page.scss */
  .page-documents .views-exposed-form .views-widget-filter-secondary {
    padding-top: 1em;
    display: block;
    width: 100%; }
    /* line 51, ../sass/components/_documents_view_page.scss */
    .page-documents .views-exposed-form .views-widget-filter-secondary .form-item-field-keywords-value, .page-documents .views-exposed-form .views-widget-filter-secondary .form-item-field-sdg-goal-value,
    .page-documents .views-exposed-form .views-widget-filter-secondary .form-item-field-agency-name-value, .page-documents .views-exposed-form .views-widget-filter-secondary .form-item-field-location-tid {
      width: 47%;
      float: left;
      margin-right: 5px; }
  /* line 61, ../sass/components/_documents_view_page.scss */
  .page-documents .views-exposed-form .views-exposed-widgets input[type="text"] {
    padding: 1em 1.25em;
    border: 1px solid #fff;
    background: #fff;
    width: 80%; }
  /* line 76, ../sass/components/_documents_view_page.scss */
  .page-documents .views-exposed-form .views-submit-button .form-submit {
    width: 100%;
    margin-top: 10px; }

/* line 87, ../sass/components/_documents_view_page.scss */
.page-documents td {
  background: #ebebeb;
  padding: 0.5em 1em;
  border: 1px solid white; }

/* line 96, ../sass/components/_documents_view_page.scss */
.page-documents .openlayers-views-map {
  max-width: 90%;
  margin: 0 auto; }

/* line 103, ../sass/components/_documents_view_page.scss */
dl.horizontal {
  margin: 0; }
  /* line 106, ../sass/components/_documents_view_page.scss */
  dl.horizontal dt {
    float: left;
    width: 6rem;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold; }
  /* line 115, ../sass/components/_documents_view_page.scss */
  dl.horizontal dd {
    margin-left: 7rem;
    font-weight: 100;
    max-width: 32rem; }
    /* line 120, ../sass/components/_documents_view_page.scss */
    dl.horizontal dd p {
      margin: 0; }

/* line 127, ../sass/components/_documents_view_page.scss */
.view-documents h2 {
  margin-bottom: 0.25rem; }

/* line 134, ../sass/components/_documents_view_page.scss */
table td ul, table td ol {
  padding-left: 0.5em; }
/* line 137, ../sass/components/_documents_view_page.scss */
table td a {
  color: #009eaa; }
/* line 141, ../sass/components/_documents_view_page.scss */
table th {
  white-space: nowrap; }
/* line 144, ../sass/components/_documents_view_page.scss */
table.token-hints.meta {
  background: #fff5f9; }
  /* line 148, ../sass/components/_documents_view_page.scss */
  table.token-hints.meta tr td, table.token-hints.meta tr th {
    padding: 0.5rem 2rem; }
  /* line 151, ../sass/components/_documents_view_page.scss */
  table.token-hints.meta tr td {
    border-top: 1px solid black; }
    /* line 154, ../sass/components/_documents_view_page.scss */
    table.token-hints.meta tr td a {
      color: #009eaa; }
  /* line 158, ../sass/components/_documents_view_page.scss */
  table.token-hints.meta tr th {
    background-color: #ffd8e8; }
  /* line 163, ../sass/components/_documents_view_page.scss */
  table.token-hints.meta tr:last-child td {
    border-bottom: 1px solid black; }

/* line 170, ../sass/components/_documents_view_page.scss */
.node__content .field {
  margin-top: 1rem; }

/* line 1, ../sass/components/_header.scss */
.l-header {
  color: #535353; }
  /* line 14, ../sass/components/_header.scss */
  .l-header img {
    max-height: 60px;
    display: block; }
  /* line 19, ../sass/components/_header.scss */
  .l-header a, .l-header a.active {
    text-decoration: none; }
  /* line 24, ../sass/components/_header.scss */
  .l-header .messages {
    margin: 0; }
  /* line 30, ../sass/components/_header.scss */
  .l-header .title-bar.has-tabs {
    padding-right: 50px; }
  /* line 34, ../sass/components/_header.scss */
  .l-header .title-bar .title {
    color: #fff;
    line-height: normal; }
  /* line 39, ../sass/components/_header.scss */
  .l-header .title-bar a {
    float: right;
    font-size: 0.65em;
    line-height: 1;
    margin: 0.5em 0 0 0.5em; }
  /* line 46, ../sass/components/_header.scss */
  .l-header .title-bar .tabs {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: none;
    height: 100%; }
    /* line 54, ../sass/components/_header.scss */
    .l-header .title-bar .tabs li {
      height: 100%;
      margin: 0; }
      /* line 57, ../sass/components/_header.scss */
      .l-header .title-bar .tabs li a {
        height: 100%;
        background: none;
        color: #535353;
        font-size: 1.8em;
        font-weight: bold;
        padding: 0.67em 0;
        padding-right: 14px; }

/* line 84, ../sass/components/_header.scss */
.branding {
  padding-top: 25px;
  padding-bottom: 1.5em; }
  /* line 88, ../sass/components/_header.scss */
  .branding a {
    color: #fff; }

/* line 93, ../sass/components/_header.scss */
.site-logo, .site-name {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

/* line 99, ../sass/components/_header.scss */
.site-name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5em; }

/* line 105, ../sass/components/_header.scss */
.site-slogan {
  font-weight: 100;
  font-size: 1em;
  color: #fff; }

/* line 111, ../sass/components/_header.scss */
header.l-header > .container {
  position: relative; }
  /* line 114, ../sass/components/_header.scss */
  header.l-header > .container .logo, header.l-header > .container .site-particulars, header.l-header > .container .branding {
    display: inline-block;
    vertical-align: top; }
  /* line 119, ../sass/components/_header.scss */
  header.l-header > .container .site-particulars {
    width: 220px; }

/* line 2, ../sass/components/_home.scss */
.front .l-main {
  background: url(../images/home_bg.png) no-repeat center bottom #f8f8f8;
  background-size: 100% auto; }

/* line 8, ../sass/components/_home.scss */
.mpub-home {
  padding-top: 1em; }

/* line 12, ../sass/components/_home.scss */
.banner-image {
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2.143em; }
  /* line 18, ../sass/components/_home.scss */
  .banner-image > img {
    display: block;
    width: 100%; }

/* line 24, ../sass/components/_home.scss */
.banner-content {
  color: #fff;
  padding: 1.25em 2em;
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  right: 20px;
  background: rgba(0, 0, 0, 0.4);
  width: 300px;
  padding-top: 2em; }
  /* line 37, ../sass/components/_home.scss */
  .banner-content h2 {
    font-size: 1.75em;
    line-height: 1.35;
    font-weight: 500;
    margin: 0; }
  /* line 45, ../sass/components/_home.scss */
  .banner-content .field--name-field-link {
    bottom: 0; }
    /* line 50, ../sass/components/_home.scss */
    .banner-content .field--name-field-link a {
      background: #22c8d4;
      color: #fff;
      text-transform: uppercase;
      padding: 1em 3em 1em 2em;
      position: relative;
      display: block; }
      /* line 60, ../sass/components/_home.scss */
      .banner-content .field--name-field-link a:before {
        content: '\f054';
        position: absolute;
        right: 1.5em;
        top: 50%;
        margin-top: -5px;
        font-size: 0.857em; }

/* line 73, ../sass/components/_home.scss */
.mpub-home-region--featured-content {
  overflow: hidden;
  margin-bottom: 2.143em; }

/* line 78, ../sass/components/_home.scss */
.panel-pane .featured-link {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: 0 2% 2% 0;
  float: left;
  margin-bottom: 0;
  height: 12em; }

/* line 91, ../sass/components/_home.scss */
.featured-link {
  position: relative; }
  /* line 94, ../sass/components/_home.scss */
  .featured-link > img {
    display: block;
    width: 100%; }
  /* line 99, ../sass/components/_home.scss */
  .featured-link .field--name-field-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  /* line 106, ../sass/components/_home.scss */
  .featured-link a {
    display: block;
    /* width: 100%; */
    background: #22c8d4;
    color: #fff;
    padding: 0.5em 1em;
    font-weight: 700;
    line-height: 1; }

/* line 117, ../sass/components/_home.scss */
.mpub-home-region--maps-overview,
.mpub-home-region--projects-overview {
  overflow: hidden; }
  /* line 129, ../sass/components/_home.scss */
  .mpub-home-region--maps-overview .panel-pane:last-child,
  .mpub-home-region--projects-overview .panel-pane:last-child {
    margin-right: 0;
    float: right; }
  /* line 136, ../sass/components/_home.scss */
  .mpub-home-region--maps-overview ul,
  .mpub-home-region--projects-overview ul {
    list-style: none;
    padding: 0; }
  /* line 141, ../sass/components/_home.scss */
  .mpub-home-region--maps-overview li,
  .mpub-home-region--projects-overview li {
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 5px;
    padding-bottom: 5px; }
    /* line 146, ../sass/components/_home.scss */
    .mpub-home-region--maps-overview li:last-child,
    .mpub-home-region--projects-overview li:last-child {
      border-bottom: 0; }

/* line 155, ../sass/components/_home.scss */
.l-footer .panel-3col-33 .panel-col-first, .l-footer .panel-3col-33 .panel-col, .l-footer .panel-3col-33 .panel-col-last {
  width: auto;
  float: none; }
  /* line 159, ../sass/components/_home.scss */
  .l-footer .panel-3col-33 .panel-col-first .inside, .l-footer .panel-3col-33 .panel-col .inside, .l-footer .panel-3col-33 .panel-col-last .inside {
    margin-left: 0; }

/* line 2, ../sass/components/_map_node_page.scss */
.node-type-map-page .l-content.container {
  max-width: none; }

/* line 7, ../sass/components/_map_node_page.scss */
.map-sidebar-left {
  padding-right: 1.5em; }

/* line 11, ../sass/components/_map_node_page.scss */
.map-sidebar-right {
  padding-left: 1.5em; }

/* line 18, ../sass/components/_map_node_page.scss */
.map-layers .group .form-item {
  padding: 10px 1.2em;
  margin-bottom: 1px; }
  /* line 22, ../sass/components/_map_node_page.scss */
  .map-layers .group .form-item label {
    display: inline-block;
    vertical-align: top; }
/* line 28, ../sass/components/_map_node_page.scss */
.map-layers .group > .form-item {
  background: #22c8d4; }
  /* line 32, ../sass/components/_map_node_page.scss */
  .map-layers .group > .form-item .fa, .map-layers .group > .form-item label {
    color: #fff; }
  /* line 37, ../sass/components/_map_node_page.scss */
  .map-layers .group > .form-item .option .fa-square-o,
  .map-layers .group > .form-item .option .fa-check-square-o {
    margin-right: 5px; }
/* line 47, ../sass/components/_map_node_page.scss */
.map-layers .layers-container {
  border-bottom: 1px solid #ebebeb;
  background: #ebebeb; }
  /* line 51, ../sass/components/_map_node_page.scss */
  .map-layers .layers-container .form-item {
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 76.5%; }
  /* line 62, ../sass/components/_map_node_page.scss */
  .map-layers .layers-container strong {
    color: #22c8d4;
    font-weight: normal; }
  /* line 67, ../sass/components/_map_node_page.scss */
  .map-layers .layers-container > a {
    display: inline-block;
    padding: 10px 5px;
    width: 10%;
    text-align: center; }
  /* line 74, ../sass/components/_map_node_page.scss */
  .map-layers .layers-container .option {
    position: relative;
    padding-left: 1.5em; }
    /* line 78, ../sass/components/_map_node_page.scss */
    .map-layers .layers-container .option .fa {
      position: absolute;
      left: 0;
      top: 5px; }

/* line 88, ../sass/components/_map_node_page.scss */
.map-info-sidebar .map-sidebar-heading {
  padding-left: 2.5em;
  position: relative; }
  /* line 92, ../sass/components/_map_node_page.scss */
  .map-info-sidebar .map-sidebar-heading .fa {
    position: absolute;
    left: 1em; }

/* line 3, ../sass/components/_maps_view_page.scss */
.page-maps .l-content {
  width: 100%;
  max-width: none;
  padding: 0; }
  /* line 8, ../sass/components/_maps_view_page.scss */
  .page-maps .l-content .view-content,
  .page-maps .l-content .views-exposed-form {
    max-width: 960px;
    margin: 0 auto; }
/* line 16, ../sass/components/_maps_view_page.scss */
.page-maps .view-maps-overview .view-filters {
  background: #22c8d4;
  padding: 1.768em; }
/* line 21, ../sass/components/_maps_view_page.scss */
.page-maps .view-maps-overview .views-row {
  overflow: hidden; }
/* line 25, ../sass/components/_maps_view_page.scss */
.page-maps .view-maps-overview .views-column {
  border: 1px solid #ebebeb;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  margin-top: 3.571em;
  width: 30%;
  float: left;
  position: relative;
  margin: 3.571em 1.875% 0;
  padding-bottom: 4em;
  height: 100%; }
  /* line 39, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column.views-column-first {
    margin-left: 0;
    margin-right: 1.875%; }
  /* line 44, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column.views-column-last {
    margin-right: 0;
    margin-left: 1.875%; }
  /* line 54, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-field-preview-image {
    background: #2c2c2c; }
    /* line 57, ../sass/components/_maps_view_page.scss */
    .page-maps .view-maps-overview .views-column .views-field-field-preview-image img {
      width: auto;
      max-height: 140px;
      display: block;
      margin: 0 auto; }
  /* line 65, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-title {
    padding: 1.143em;
    font-weight: 700; }
  /* line 70, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .map-item-links {
    display: block;
    position: relative;
    height: 2.5em; }
    /* line 75, ../sass/components/_maps_view_page.scss */
    .page-maps .view-maps-overview .views-column .map-item-links > div {
      border: 1px solid white;
      height: 2.5em;
      overflow: hidden;
      white-space: nowrap; }
    /* line 82, ../sass/components/_maps_view_page.scss */
    .page-maps .view-maps-overview .views-column .map-item-links .views-field-field-layers {
      position: absolute;
      left: 0;
      width: 25%; }
    /* line 87, ../sass/components/_maps_view_page.scss */
    .page-maps .view-maps-overview .views-column .map-item-links .views-field-created {
      position: absolute;
      left: 25%;
      right: 30%; }
    /* line 92, ../sass/components/_maps_view_page.scss */
    .page-maps .view-maps-overview .views-column .map-item-links .views-field-view-node {
      width: 30%;
      position: absolute;
      right: 0; }
  /* line 99, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-field-map-description {
    padding: 0 1.143em 1.143em; }
  /* line 107, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-nothing {
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%; }
  /* line 116, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-field-layers,
  .page-maps .view-maps-overview .views-column .views-field-created,
  .page-maps .view-maps-overview .views-column .views-field-view-node {
    text-align: center;
    float: left; }
  /* line 129, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-field-layers,
  .page-maps .view-maps-overview .views-column .views-field-created {
    background: #ebebeb;
    padding: 0.5em 0; }
  /* line 138, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-field-layers .fa {
    margin-right: 10px; }
  /* line 143, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-created {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; }
  /* line 154, ../sass/components/_maps_view_page.scss */
  .page-maps .view-maps-overview .views-column .views-field-view-node a {
    display: block;
    background: #22c8d4;
    text-transform: uppercase;
    padding: 0.5em;
    color: #fff; }

/* line 168, ../sass/components/_maps_view_page.scss */
.views-exposed-form label {
  display: block;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 10px; }
/* line 175, ../sass/components/_maps_view_page.scss */
.views-exposed-form .views-exposed-widget {
  padding: 0 1em 0 0;
  float: none;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  margin-right: 1em; }
/* line 192, ../sass/components/_maps_view_page.scss */
.views-exposed-form .views-submit-button .form-submit {
  width: 100%;
  margin-top: 10px; }

/* line 204, ../sass/components/_maps_view_page.scss */
.view-maps-overview .form-submit {
  background: url(../images/icon-search.png) no-repeat 1.2em center #2c2c2c;
  padding-left: 50px; }

/* Map layout containers ---------------------------------------------------- */
/* line 215, ../sass/components/_maps_view_page.scss */
.map-layout .layers-container {
  margin-bottom: 1em; }
/* line 219, ../sass/components/_maps_view_page.scss */
.map-layout .expcol-link {
  display: inline-block; }
  /* line 222, ../sass/components/_maps_view_page.scss */
  .map-layout .expcol-link .collapse {
    display: inherit; }
  /* line 225, ../sass/components/_maps_view_page.scss */
  .map-layout .expcol-link .expand {
    display: none; }
  /* line 230, ../sass/components/_maps_view_page.scss */
  .map-layout .expcol-link.collapsed .collapse {
    display: none; }
  /* line 233, ../sass/components/_maps_view_page.scss */
  .map-layout .expcol-link.collapsed .expand {
    display: inherit; }
/* line 243, ../sass/components/_maps_view_page.scss */
.map-layout .form-type-checkbox i,
.map-layout .layers-container i {
  font-size: 30px;
  width: 1.05em;
  font-size: 14px; }
/* line 252, ../sass/components/_maps_view_page.scss */
.map-layout .form-type-checkbox {
  display: block;
  /* to hide the checkbox itself */ }
  /* line 256, ../sass/components/_maps_view_page.scss */
  .map-layout .form-type-checkbox input {
    display: none; }
  /* line 259, ../sass/components/_maps_view_page.scss */
  .map-layout .form-type-checkbox label .checked {
    display: none; }
  /* line 260, ../sass/components/_maps_view_page.scss */
  .map-layout .form-type-checkbox label .unchecked {
    display: inline-block; }
  /* line 264, ../sass/components/_maps_view_page.scss */
  .map-layout .form-type-checkbox input:checked ~ label .checked {
    display: inline-block; }
  /* line 265, ../sass/components/_maps_view_page.scss */
  .map-layout .form-type-checkbox input:checked ~ label .unchecked {
    display: none; }

/* line 282, ../sass/components/_maps_view_page.scss */
.map-layout tr .form-item {
  white-space: normal; }

/* line 288, ../sass/components/_maps_view_page.scss */
.map-layout * {
  box-sizing: border-box; }

/* line 292, ../sass/components/_maps_view_page.scss */
.map-layout {
  width: 100%;
  display: table;
  overflow-y: hidden; }

/* line 298, ../sass/components/_maps_view_page.scss */
.map-container {
  width: 100%;
  position: relative;
  background-color: #2c2c2c; }

/* line 304, ../sass/components/_maps_view_page.scss */
.map-sidebar {
  position: relative;
  z-index: 100;
  vertical-align: top; }
  /* line 309, ../sass/components/_maps_view_page.scss */
  .map-sidebar .mpub-print-link a {
    display: none; }
  /* line 313, ../sass/components/_maps_view_page.scss */
  .map-sidebar .map-sidebar-heading {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600; }
  /* line 327, ../sass/components/_maps_view_page.scss */
  .map-sidebar h2.title {
    color: #fff;
    margin: 0;
    padding: 1em; }
  /* line 333, ../sass/components/_maps_view_page.scss */
  .map-sidebar .map-sidebar-content {
    overflow-y: auto;
    padding-top: 1.5em;
    width: 288px; }
  /* line 346, ../sass/components/_maps_view_page.scss */
  .map-sidebar.map-info-sidebar .map-metadata {
    padding-top: 0; }

/* line 353, ../sass/components/_maps_view_page.scss */
.collapsed-left .map-layers-sidebar,
.map-layers-sidebar {
  display: none; }

/* line 360, ../sass/components/_maps_view_page.scss */
.open-left .map-layers-sidebar {
  display: inherit; }

/* line 367, ../sass/components/_maps_view_page.scss */
.map-layers-sidebar {
  display: inherit; }

/* line 373, ../sass/components/_maps_view_page.scss */
td.toggle-right {
  display: none;
  display: table-cell; }

/* line 381, ../sass/components/_maps_view_page.scss */
.open-right .map-info-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 5%; }
  /* line 383, ../sass/components/_maps_view_page.scss */
  .open-right .map-info-sidebar .fa-close {
    color: #000; }
  /* line 387, ../sass/components/_maps_view_page.scss */
  .open-right .map-info-sidebar a.layer-info-modal-close {
    float: left;
    color: #FFF;
    font-size: 2.5em;
    padding: 0.3em; }
  /* line 402, ../sass/components/_maps_view_page.scss */
  .open-right .map-info-sidebar .map-sidebar-content {
    width: 100%;
    height: 100%; }

/* line 427, ../sass/components/_maps_view_page.scss */
.collapsed-right .map-info-sidebar {
  display: none; }

/* line 436, ../sass/components/_maps_view_page.scss */
.map-sidebar .group {
  margin-bottom: 1.5em; }

/* line 440, ../sass/components/_maps_view_page.scss */
.map-sidebar .group label {
  cursor: pointer; }

/* line 444, ../sass/components/_maps_view_page.scss */
.map-print-version {
  position: absolute;
  font-size: 0.75em;
  top: -20px;
  right: 10px; }

/* line 451, ../sass/components/_maps_view_page.scss */
.map-loading-indicator {
  display: none;
  overflow: hidden; }
  /* line 454, ../sass/components/_maps_view_page.scss */
  .map-loading-indicator.loading {
    display: block;
    background-image: url("../images/trans.png");
    width: 100%;
    color: #535353;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10; }

/* line 469, ../sass/components/_maps_view_page.scss */
.open-left .map-loading-indicator.loading {
  display: none; }

/* Map toggle controls ------------------------------------------------------ */
/* line 482, ../sass/components/_maps_view_page.scss */
.map-layout .toggle {
  font-size: 2em;
  padding: 4px;
  background: #2c2c2c;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  z-index: 100;
  color: #fff; }

/* line 494, ../sass/components/_maps_view_page.scss */
.layers-container,
.expcol-wrapper,
.expcol-wrapper .layers-container {
  display: none; }

/* line 500, ../sass/components/_maps_view_page.scss */
.expcol-link {
  font-family: monospace;
  font-weight: bolder; }

/* line 506, ../sass/components/_maps_view_page.scss */
.map-sidebar .group {
  margin-left: 14px; }
/* line 509, ../sass/components/_maps_view_page.scss */
.map-sidebar .expcol-depth-0.group {
  display: block;
  margin-left: 0; }

/* line 515, ../sass/components/_maps_view_page.scss */
.map-description {
  margin-bottom: 20px;
  display: block; }

/* line 8, ../sass/components/_navigation.scss */
.responsive-menus .nice-menu-main-menu {
  position: absolute;
  right: 0;
  bottom: 0; }
/* line 14, ../sass/components/_navigation.scss */
.responsive-menus .nice-menu {
  text-transform: uppercase;
  float: none;
  border: 0; }
  /* line 19, ../sass/components/_navigation.scss */
  .responsive-menus .nice-menu li {
    background: transparent;
    border: 0;
    float: none;
    display: inline-block;
    vertical-align: top; }
  /* line 27, ../sass/components/_navigation.scss */
  .responsive-menus .nice-menu li + li {
    padding-left: 0.5em; }
  /* line 31, ../sass/components/_navigation.scss */
  .responsive-menus .nice-menu a {
    color: #b6b6b6;
    line-height: 1; }
    /* line 39, ../sass/components/_navigation.scss */
    .responsive-menus .nice-menu a:hover, .responsive-menus .nice-menu a.active {
      color: #fff; }
  /* line 45, ../sass/components/_navigation.scss */
  .responsive-menus .nice-menu .active {
    position: relative; }

/* line 71, ../sass/components/_navigation.scss */
.front .nice-menu .active:before {
  border-bottom-color: #f8f8f8; }

/* line 93, ../sass/components/_navigation.scss */
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified .responsive-menus-simple,
.responsive-menus.responsified.responsive-toggled span.toggler,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple {
  background-color: #454545;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* line 102, ../sass/components/_navigation.scss */
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple li a,
.responsive-menus.responsified.responsive-toggled span.toggler {
  border-color: #252525; }
/* line 108, ../sass/components/_navigation.scss */
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple li a:hover {
  background-color: #626262; }

/* line 116, ../sass/components/_navigation.scss */
.responsive-menus.responsified span.toggler {
  padding: 0.5em 0; }

/* ipe wasn't playing nicely with jquery tabs */
/* line 2, ../sass/components/_panels-ipe.scss */
.panels-ipe-editing .panels-ipe-region {
  float: none; }

/* line 1, ../sass/components/_projects_view_page.scss */
.page-projects .l-content {
  width: 100%;
  max-width: none;
  padding: 0; }

/* line 7, ../sass/components/_projects_view_page.scss */
.page-projects .openlayers-views-map {
  max-width: 70%;
  margin: 0 auto; }

/* line 12, ../sass/components/_projects_view_page.scss */
.page-projects .view-filters {
  background: #22c8d4;
  padding: 1.768em 0; }
  /* line 16, ../sass/components/_projects_view_page.scss */
  .page-projects .view-filters a {
    color: black; }

/* line 20, ../sass/components/_projects_view_page.scss */
.page-projects .view-content {
  margin: 20px auto;
  max-width: 960px; }

/* line 25, ../sass/components/_projects_view_page.scss */
.page-projects .attachment-before .view-content {
  margin: 20px auto;
  max-width: none; }

/* line 30, ../sass/components/_projects_view_page.scss */
.page-projects .views-exposed-form {
  width: 90%;
  max-width: 960px;
  margin: 20px auto;
  /* #edit-combine-wrapper { */
  /*   width: 100%; */
  /* } */ }
  /* line 34, ../sass/components/_projects_view_page.scss */
  .page-projects .views-exposed-form fieldset {
    border-color: black; }
  /* line 41, ../sass/components/_projects_view_page.scss */
  .page-projects .views-exposed-form #edit-keys-wrapper {
    width: 50%; }
  /* line 44, ../sass/components/_projects_view_page.scss */
  .page-projects .views-exposed-form .views-widget-filter-secondary {
    padding-top: 1em;
    display: block;
    width: 100%; }
    /* line 49, ../sass/components/_projects_view_page.scss */
    .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-keywords-value, .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-sdg-goal-value,
    .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-agency-name-value, .page-projects .views-exposed-form .views-widget-filter-secondary .form-item-field-location-tid {
      float: left;
      margin-right: 5px;
      padding-right: 1rem;
      width: 40%;
      overflow: hidden; }
  /* line 68, ../sass/components/_projects_view_page.scss */
  .page-projects .views-exposed-form .views-submit-button .form-submit {
    width: 100%;
    margin-top: 10px; }

/* line 79, ../sass/components/_projects_view_page.scss */
.page-projects td {
  background: #ebebeb;
  padding: 0.5em 1em;
  border: 1px solid white; }

/* line 88, ../sass/components/_projects_view_page.scss */
.page-projects .openlayers-views-map {
  max-width: 90%;
  margin: 0 auto; }

/* line 95, ../sass/components/_projects_view_page.scss */
.views-table th {
  padding: 0.5em 1em;
  border: 1px solid white; }

/* line 102, ../sass/components/_projects_view_page.scss */
.node-type-project .field-collection-view .field-label {
  width: auto; }
/* line 107, ../sass/components/_projects_view_page.scss */
.node-type-project .field--name-field-existing-documents-links .field-collection-view,
.node-type-project .field--name-field-project-budget .field-collection-view {
  margin: 0; }
/* line 111, ../sass/components/_projects_view_page.scss */
.node-type-project h3 {
  font-weight: 900;
  margin-top: 0.6em;
  margin-bottom: 0.5em;
  font-size: 18.2px; }
/* line 117, ../sass/components/_projects_view_page.scss */
.node-type-project h4 {
  font-weight: 600;
  margin-top: 0.66em;
  margin-bottom: 0.25em; }
/* line 122, ../sass/components/_projects_view_page.scss */
.node-type-project .field__label {
  font-weight: 300; }

/* line 1, ../sass/components/_stackstable.scss */
.large-only {
  display: none; }

/* line 3, ../sass/components/_stackstable.scss */
.small-only {
  display: table; }
  /* line 5, ../sass/components/_stackstable.scss */
  .small-only th {
    font-weight: normal;
    background-color: #f5f5f5;
    padding: 10px 5px; }

/* line 1, ../sass/components/_ui-tabs.scss */
.ui-widget-content,
.ui-widget-header {
  border: 0;
  background: #fff; }

/* line 7, ../sass/components/_ui-tabs.scss */
.ui-widget-content {
  padding: 0 1px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
  /* line 11, ../sass/components/_ui-tabs.scss */
  .ui-widget-content a {
    color: #22c8d4; }

/* line 16, ../sass/components/_ui-tabs.scss */
#tabs {
  background: #ebebeb;
  padding: 5px; }
  /* line 19, ../sass/components/_ui-tabs.scss */
  #tabs a {
    margin-right: 5px; }

/* line 25, ../sass/components/_ui-tabs.scss */
.ui-tabs .ui-tabs-nav {
  padding: 0; }
  /* line 28, ../sass/components/_ui-tabs.scss */
  .ui-tabs .ui-tabs-nav.ui-widget-header {
    background: #f8f8f8; }
  /* line 32, ../sass/components/_ui-tabs.scss */
  .ui-tabs .ui-tabs-nav li {
    border: 0;
    margin: 0;
    width: 33.33%;
    background: #f8f8f8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 500;
    text-align: center;
    font-size: 1.286em;
    text-align: left; }
    /* line 45, ../sass/components/_ui-tabs.scss */
    .ui-tabs .ui-tabs-nav li a {
      display: block;
      float: none;
      padding: 1em;
      color: #22c8d4;
      padding-right: 1.556em;
      padding-left: 4em; }
    /* line 56, ../sass/components/_ui-tabs.scss */
    .ui-tabs .ui-tabs-nav li .fa {
      font-size: 1.65em;
      margin-top: 10px;
      position: absolute;
      left: 1em;
      top: 50%;
      margin-top: -15px; }
    /* line 67, ../sass/components/_ui-tabs.scss */
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
      background: #fff; }
      /* line 70, ../sass/components/_ui-tabs.scss */
      .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
        color: #404040; }
      /* line 74, ../sass/components/_ui-tabs.scss */
      .ui-tabs .ui-tabs-nav li.ui-tabs-selected .fa {
        color: #d7d7d7; }
/* line 81, ../sass/components/_ui-tabs.scss */
.ui-tabs .ui-tabs-panel {
  padding: 2em; }

/*# sourceMappingURL=mpubtheme.no-query.css.map */
