input[type="text"],
input[type="email"],
input[type="password"],
select {
	padding: 1em 2.25em 1em 1.25em;
	border: 1px solid $white;
	background: $white;
        width: 100%;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    @include border-radius(0);
}

.form-type-select {
        position: relative;

	&:after {
                position: absolute;
                top: 50%;
                right: 1.666em;;
	        width: 1em;
		height: 1em;
		content: "\f078";
		display: inline-block;
	        font-family: FontAwesome;
	}
}

input[type="submit"] {
	background: $heading-background;
	padding: 1em 1.25em;
	border: 1px solid $heading-background;
	text-transform: uppercase;
	color: $gray;
}

auto.container-inline-date .form-item, .container-inline-date .form-item {
    width: 120px;
}
