.l-content {
	ol, ul {
		//padding-left: 1.5em;
		
		li {
			//padding-bottom: 3px;
		}
	}
}

.item-list,
.l-footer .menu {
	a {
		display: block;
		position: relative;
		margin-right: 1em;
		padding-right: 1em;

		&:before {
			@extend %fa;
			content: '\f054';
		    position: absolute;
		    right: 0;
		    top: 50%;
		    margin-top: -5px;
		    font-size: 0.714em;
		}
	}
}
