/* line 9, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
body {
  overflow-x: hidden; }

/* line 13, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

/* line 19, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.l-subheader, .container {
  padding: 0 1em; }

/* line 23, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.l-main {
  background: #fff;
  padding-bottom: 5em; }

/* line 28, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.title-bar {
  padding: 2em 0; }
  /* line 31, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .title-bar .mpub-print-link {
    float: right;
    font-size: 0.571em;
    margin-top: 7px; }
    /* line 36, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
    .title-bar .mpub-print-link a {
      background: #22c8d4;
      text-transform: uppercase;
      padding: 0.5em 1.75em;
      color: #fff; }
    /* line 43, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
    .title-bar .mpub-print-link .fa {
      margin-left: -10px;
      color: #fff; }

/* line 50, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.title {
  position: relative;
  padding-left: 2em; }
  /* line 54, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .title > .fa {
    color: #cccccc;
    position: absolute;
    top: 5px;
    left: 0; }

/* line 74, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.l-footer {
  background: url(../../../images/footer-bg.png) repeat #2c2c2c;
  color: #ebebeb;
  padding: 2em 0;
  font-size: 0.913em; }
  /* line 80, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer .pane-title {
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5em; }
  /* line 86, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer a {
    text-decoration: none;
    color: #ebebeb; }
    /* line 90, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
    .l-footer a:hover, .l-footer a:focus {
      color: #fff; }
  /* line 96, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer ul, .l-footer .menu {
    list-style: none;
    padding: 0; }
  /* line 101, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer .leaf {
    list-style: none; }
  /* line 106, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer .panel-3col-33 .inside {
    margin: 0 1.65em 1em; }
  /* line 112, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer .panel-col-first .inside {
    margin-left: 0; }
  /* line 118, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .l-footer .panel-col-last .inside {
    margin-right: 0; }

/* line 124, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.r-footer-content {
  border-bottom: 2px solid #0f0f0f;
  padding-bottom: 1.25em;
  margin-bottom: 1.5em; }
  /* line 129, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
  .r-footer-content li {
    border-bottom: 1px solid #0f0f0f;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    /* line 134, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
    .r-footer-content li:last-child {
      border-bottom: 0; }

/* line 140, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.copyright-message {
  float: left; }

/* line 144, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
.footer-menu {
  float: right; }

/* line 148, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
[class^=group-] {
  padding: 0.5em; }

/* line 152, ../../../sass/layouts/mpub-general/mpub-general.layout.scss */
* {
  box-sizing: border-box; }

/*# sourceMappingURL=mpub-general.layout.css.map */
