#edit-keys-wrapper,
#edit-secondary-wrapper {
  float: none;
}

#project-node-form .ds-2col-stacked-fluid > .group-left {
  width: 55% !important;
  padding-right: 5%;
}

#project-node-form .ds-2col-stacked-fluid > .group-right {
  width: 40% !important;
}

.ds-2col-stacked-fluid.node-project > .group-left {
  width: 65% !important;
}

.ds-2col-stacked-fluid.node-project > .group-right {
  width: 35% !important;
}

