/*******************************************************************************
 * resp-2col.layout.scss
 *
 * Styling of the "resp-2col" layout demonstrating the resp-2col rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "../../variables/**/*";

// Set Singularity grid variables.
$grids: 1;
$grids: add-grid(3 at $tab);

$gutters: 1/16;

.panel-display--resp-2col {
  @include pie-clearfix;
}

.resp-2col-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {
  .resp-2col-region--first {
    @include grid-span(2, 1);    
  }
  .resp-2col-region--second {
    @include grid-span(1, 3);    
    
//    @include isolation-span(1, 1, 'both');
  }
}
